.wrapper {
  text-align: center;
  color: var(--primary-color);
}

.label {
  font-weight: bold;
  font-size: 1.5rem;
  padding-bottom: 10px;
  text-transform: uppercase;
  border-bottom: 0.5px solid var(--primary-color);
}

.boxItem {
  width: 100%;
  margin-top: 1rem;
}

.boxItemHeading {
  font-weight: bold;
  font-size: 1.2rem;
}
