@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --primary-color: #222831;
  --secondary-color: #ffd369;
  --light-color: #eee;
  --navbar-height: 60px;
}

html body * {
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--light-color);
}

a {
  color: inherit;
  text-decoration: none;
}

.app {
  height: 100vh;
}

.app__main {
  padding: 10px;
  height: calc(100% - var(--navbar-height));
  max-width: 1024px;
  margin: 0 auto;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - var(--navbar-height));
}
