.navbar {
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  color: #fff;
  background-color: var(--primary-color);
  text-transform: capitalize;
  height: var(--navbar-height);
  padding: 20px;
}

.navbar__nav {
  height: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
}

.navbar__nav li + li {
  margin-left: 10px;
}

.navbar__logo {
  color: var(--secondary-color);
  text-transform: uppercase;
  font-weight: bold;
}
