.navbar {
  background: #222;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar .navbarNav {
  display: flex;
  padding-left: 0;
  list-style: none;
  margin: 0;
}

.navbar .navbarNav .navItem + .navItem {
  margin-left: 10px;
}

.navbar .navbarNav .navItem .navLink {
  color: #fff;
}

.navbar .navbarNav .navItem .navLogo {
  color: #fd7e14
}

/* Mobile menu */
@media all and (min-width: 600px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }
}
