.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #fd7e14;
  text-align: center;
}

.sidebar a {
  color: #fff;
  padding: 10px 15px;
}

.sidebar a:hover {
  text-decoration: underline;
}

.sidebar .active {
  background-color: #222;
}
