.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--primary-color);
  border-right: 1px solid var(--light-color)
}

.sidebar a {
  color: #fff;
  padding: 0.5rem 1rem;
}

.sidebar a:hover,
.sidebar .active {
  color: var(--secondary-color);
}
